{% extends "base.html" %}
{% block content %}
<html lang="en">
<title>PlayTogether - сервис для поиска тиммейтов</title>
<body>
<div class="container">
<h1 class="text-center">PlayTogether - сообщество геймеров</h1>
</div>
    <h2>Что такое PlayTogether?</h2> PlayTogether - сервис для поиска тиммейтов.<br>
  Ищите тиммейтов по самым популярным играм, таким как <b><i>League of Legends</i></b>, <b><i>Dota 2</i></b>, <b><i>CS 2</i></b> и многим другим. <br>
      Или создайте свою собственную команду.<br>
   <b><i>Good luck Have fun!</i></b>
</body>
</html>
{% endblock %}