{% extends "base.html" %}
{% block content %}
<html lang="ru"> 
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/fav/fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/fav/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Все записи {{ post_id.author.get_full_name }}</title>
  </head>
  <body>
    <main>
      <div class="container py-5">
        <div class="row">
          <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Дата публикации: {{ post_id.pub_date|date:"d E Y" }}
              </li>               
              <li class="list-group-item">
                Группа: {{ post_id.group }}
                <a href="{{ post_id.group.slug }}"><br>
                  все записи группы
                </a>
              </li>            
              <li class="list-group-item">
                Автор: {{ post_id.author.get_full_name }}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Всего постов автора:  <span >{{ post_id.author.posts.count }}</span>
              </li>
              <li class="list-group-item">
                <a href="{{ post_id.author.get_absolute_url }}">
                  все посты пользователя
                </a>
              </li>
            </ul>
          </aside>
          <article class="col-12 col-md-9">
            <p>
              {{ post_id.text|linebreaksbr }}
            </p>
            {% if request.user == post_id.author %}
            <a class="btn btn-primary active" href="/posts/{{post_id.id}}/edit">
              редактировать запись
            </a>
            {% endif %}
          </article>
        </div>     
      </div>
    </main>
    {% include 'includes/footer.html' %}
  </body>
</html>
{% endblock %}