{% extends "base.html" %}

{% block content %}
<html lang="ru"> 
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../img/fav/fav.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/fav/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Профайл пользователя {{username}}</title>
  </head>
  <body>
    <main>
      <div class="container py-5">        
        <h1>Все посты пользователя {{username}} </h1>
        <h3>Всего постов: {{ count }} </h3>
        <hr>
        {% for post in user_posts%}
        {% include 'includes/card_post.html' %}
        <!-- нет черты после последнего поста -->
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
      </div>
    </main>
    {% include 'posts/includes/paginator.html' %}
    {% include 'includes/footer.html' %}
  </body>
</html>
{% endblock content %}